In [1]:
pip install mysql-connector-python

In [ ]:
import mysql.connector

In [ ]:
mydb=mysql.connector.connect(host="3306",user="root",password="2001")

mycursor=mydb.cursor()

In [ ]:
mycursor.execute("CREATE DATABASE Muhammadalidb")

In [ ]:
mydb=mysql.connector.connect(host="3306",user="root",password="2001", database="Muhammadalidb")


mycursor=mydb.cursor()

In [ ]:
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE cars(Condition VARCHAR(10), Vehicle_number INTEGER(5), Registration_number INTEGER(8))")

In [ ]:
mycursor.execute("ALTER TABLE Vehicles ADD manufact VARCHAR(30)")
mycursor.execute("ALTER TABLE Vehicles ADD model VARCHAR(15)")
mycursor.execute("ALTER TABLE Vehicles ADD color VARCHAR(15)")
mycursor.execute("ALTER TABLE Vehicles ADD Current_Od INTEGER(6)")
mycursor.execute("ALTER TABLE Vehicles ADD Desc VARCHAR(50)")

In [ ]:
mycursor.execute("ALTER TABLE Vehicles ADD Dates VARCHAR(10)")

In [ ]:
assets="INSERT INTO Vehicles(Condition, Vehicle_number, Registration_number, manufact, Model, Color, Current_Od, Desc, Date) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s)"
Vehicles=[("R",'V1999',"123 ABC",'Volvo','Games','Blue', '170000',"Tire repair", '2021/11/23'),
         ('M','W2020',"234 BCD",'Chevralet','Cruize','Red', '184999',"Oil Levels", '2021/03/14')]
mycursor.executemany(assets, Vehicles)
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE countries(names VARCHAR(30), lan VARCHAR(3))")

In [ ]:
info = "INSERT INTO countries(country, lan) VALUES(%s, %s)"
Partisipant_Countries = [("Afghanistan", "AF"),
                        ("United Arab Emirates", "UA")
                        ("Yemen", "YE"),
                        ("South Korea", "KR")]
mycursor.executemany(info, Partisipant_Countries)
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE officials(Name VARCHAR(25), id INTEGER(8), Name VARCHAR(30), Pos VARCHAR(20), Lang VARCHAR(20))")

In [ ]:
info = "INSERT INTO officials(Name, id, Name, Pos, Lang) VALUES(%s, %s, %s, %s, %s)"
Officials = [
                         ("Singapore", "44490257", "Omar", "Couch", "English"),
                         ("Oman", "55590257", "Amr", "Couch", "English"),
                         ("Qatar", "66690257", "Abdulrohman", "Couch", "Arabic"),
                         ("Qatar", "66690257", "Abu Bakr", "Couch", "English"),]
mycursor.executemany(info, Officials)
mydb.commit()

In [2]:
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE Drivers(D_name VARCHAR(20),L_Number INTEGER(18))")
mycursor.execute("ALTER TABLE Drivers ADD Cl_Level INTEGER(1)")

mycursor.execute("ALTER TABLE Drivers ADD fatl_Test VARCHAR(3)")
mycursor.execute("ALTER TABLE Drivers ADD fatl_Level INTEGER(2)")

mycursor.execute("ALTER TABLE Drivers ADD STLVT_Test VARCHAR(3)")
mycursor.execute("ALTER TABLE Drivers ADD STLVT_Level INTEGER(2)")
mycursor.execute("ALTER TABLE Drivers ADD STLVTQ_Date VARCHAR(10)")
mycursor.execute("ALTER TABLE Drivers ADD STLVT_Authority VARCHAR(50)")
mycursor.execute("ALTER TABLE Drivers ADD Driver_Languages VARCHAR(70)")
#

In [ ]:
mycursor.execute("ALTER TABLE Drivers ADD l_Number VARCHAR(20)")

In [ ]:
sql='''INSERT INTO Drivers(D_name,Cl_Level,FATL_Test,FATL_Level,FATLQ_Date,STLVT_Test,STLVT_Level,STLVTQ_Date,STLVT_Authority,Driver_Languages,L_Number)
VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
for d in range(6):
    name = input("Name: ")
    clearance_l = int(input("Clearance Level: "))
    fatl_t = input("FATL Test: ")
    fatl_l = input("FATL Level: ")
    fatlq_d = input("FATL qualification Date: ")
    stlvt_test = input("STLVT Test: ")
    stlvt_l = input("STLVT Level: ")
    stlvtq_d = input("STLVT qualification Date: ")
    stlvt_a = input("STLVT Authority: ") 
    drivers_lan = input("Language: ")
    licence_n = input("Licence No: ")

    Drivers = [(name, clearance_l, fatl_t, fatl_l, fatlq_d, stlvt_test, stlvt_l, stlvtq_d, stlvt_a, drivers_lan, licence_n)]
    mycursor.executemany(sql, Drivers)
mydb.commit()

In [ ]:
mycursor.execute("ALTER TABLE Partisipant_Officials ADD Assigned_Drivers VARCHAR(20)")

In [ ]:
Officials_info = "INSERT INTO Partisipant_Officials(Assigned_Drivers) VALUES(%s)"
Partisipant_Officials = [
                         ("Ugvey"),
                         ("Po"),
                         ("Ugvey"),
                         ("Po"),
                         


,

    
    mycursor.execute(Officials_info, name)
mydb.commit()

ProgrammingError: Not all parameters were used in the SQL statement

In [ ]:
SELECT * FROM Partisipant_Officials;

In [ ]:
mycursor.execute("CREATE TABLE droffnames(Officials_names VARCHAR(20),Drivers_names VARCHAR(20))")

In [ ]:
sql_command = "INSERT INTO DRnames (Officials_names,Drivers_names) VALUES(%s,%s)"
Partisipant_Officials = [("Abdulaziz","Jony"),
                         ("Abdulazeez","Ugvey"),
                         ("Abdullakh","Ugvey"),
                         ("Ali","Ugvey"),
                        ]
mycursor.executemany(DRnames, Partisipant_Officials)
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE Trips(Start  INTEGER(20),End INTEGER(18),Booking_num INTEGER(18),pick_up VARCHAR(18),drop_off VARCHAR(20),type VARCHAR(18))")# licence number should have 18 characters

In [ ]:
s="INSERT INTO Trips(Start,End,Booking_num,pick_up,drop_off,type) VALUES(%s,%s,%s,%s,%s,%s)"
list=[
         (20230102,20230203,94565,"Behind bank", "Beside M", "Police station"),
         (20230205,20230406,67543,"Back street", "MK street","Hospital"),
  ]
mycursor.executemany(s,list)
mydb.commit()